<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>To Do App</title>

    <style>
        body{
            background-color: hsl(60, 12%, 94%);
        }
        li.done {
  text-decoration: line-through;
  color: #999;
}
    </style>
</head>
<body>
    <div id="app">
        <h1>Todo List</h1>
        <input type="text" v-model="newTask" placeholder="new task">
        <button @click="addTask">Add Task</button><br>
        <ul>
            <li v-for="task in tasks" :key="task.id" :class = "{ done: task.done}">
                <input type="checkbox" v-model="task.done"/>
                {{task.text}}                
            </li>
        </ul>

      
         
  

       </div>

    <script>
        const {createApp, ref} = Vue;

        createApp (
            {
                setup() {
                    const newTask = ref("");

                    const tasks = ref([]);

                    function addTask(){
                        const text = newTask.value.trim();
                        if(!text) return;
                        tasks.value.push({
                            id: Date.now(),
                            text: text,
                            done:false,
                        })

                        newTask.value = "";

                       
                        
                    }

                    return {
                        newTask, 
                        tasks,
                        addTask,
                    };
                
                    

                }
            }
        ).mount("#app")
    </script>
    
</body>
</html>
